<div class="container-fluid about-me">
  <div class="row">
    <div class="container-fluid mt-2">
      <div class="col-12 col-xl-6 offset-xl-1 col-xxl-4 text-light">
        <h3>Aleksandra Novikova</h3>
        <h5>The composer and pianist, working under the pseudonym of "Oldberg"</h5>
        <hr class="my-2">
        <h5>"Since I was a child, I have been surrounded by a musical atmosphere filled with a variety of
          genres, styles, and directions. Music tells a story in that instrumental music provides a great
          opportunity for the imagination to fly. All of my compositions are a story about a moment in my
          life, a powerful experience that can only be expressed through music. Everyone will hear and feel
          what is closest to them, perhaps the most beautiful secret of every person."</h5>
      </div>
    </div>
  </div>
</div>
