<div class="contacts d-flex">
  <div class="container">
    <div class="row">
      <div class="container-fluid contacts-text">
        <div class="row">
          <div class="col-3 offset-1 my-auto">
            <h5>Publishing</h5>
          </div>
          <div class="col-4 offset-sm-2 offset-1">
            <h5>Mikhail Golubev</h5>
            <h6>
              <a href="tel:+79875390711" class="text-dark">+7 987 539 07 11</a>
            </h6>
            <h6>
              <a href="mailto:golubevmikhail@yahoo.com" class="link-dark">golubevmikhail&#64;yahoo.com</a>
            </h6>
            <h6>
              <a href="mailto:mifag92l@rambler.ru" class="link-dark">mifag92&#64;rambler.ru</a>
            </h6>
            <br>
            <h5>Russia</h5>
          </div>
        </div>
        <div class="row">
          <hr class="my-2">
          <div class="col-3 offset-1 my-auto">
            <h5>Label</h5>
          </div>
          <div class="col-4 offset-sm-2 offset-1">
            <h5>Mifag</h5>
            <h6>
              <a href="tel:+381631641620" class="text-dark">+381 63 164 16 20</a>
            </h6>
            <h6>
              <a href="mailto:mifag082@gmail.com" class="link-dark">mifag082&#64;gmail.com</a>
            </h6>
            <h6>
              <a href="https://mifag.github.io/business-card/" class="link-dark">mifag.business-card</a>
            </h6>
            <br>
            <h5>Serbia</h5>
          </div>
        </div>
        <div class="row">
          <hr class="my-2">
          <div class="col-3 offset-1 my-auto">
            <h5>Artist</h5>
          </div>
          <div class="col-4 offset-sm-2 offset-1">
            <h5>Aleksandra Novikova</h5>
            <h6>
              <a href="mailto:alexustasuaeaa@gmail.com" class="link-dark">alexustasuaeaa&#64;gmail.com</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
