<div class="container-fluid oldberg-info">
  <div class="row">
    <div class="container-fluid mt-2">
      <div class="col-12 offset-0 col-lg-6 offset-lg-1 rounded bg-light bg-opacity-50">
        <h5>This is a simple hero unit for calling extra attention to featured content or information.</h5>
        <hr class="my-2">
        <h6>It uses utility classes for typography and spacing to space content out within the larger container.</h6>
        <h6>It uses utility classes for typography and spacing to space content out within the larger container.</h6>
        <h6>It uses utility classes for typography and spacing to space content out within the larger container.</h6>
        <h6>It uses utility classes for typography and spacing to space content out within the larger container.</h6>
        <!--      <a class="btn btn-light mb-2" href="#" role="button">Learn more</a>-->
      </div>
    </div>
  </div>
</div>
