<body class="main-page">

  <nav class="navbar d-flex navbar-expand-lg bg-light bg-opacity-75">
      <a class="navbar-brand mx-3 p-0" href="/">
        <img class="img-logo mr-auto" src="./../assets/img/oldberg-logo.svg" alt="Logo">
      </a>
      <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-5">
          <li class="nav-item mx-2">
            <a class="nav-link" href="about"><h4>About</h4></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="music"><h4>Music</h4></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="contacts"><h4>Contacts</h4></a>
          </li>
        </ul>
      </div>
    <div class="col-5 offset-4 col-sm-3 offset-sm-7 col-lg-2 offset-lg-10 position-fixed">
<!--      <audio controls id="music">-->
<!--        <source [src]="musicSource" type="audio/mpeg">-->
<!--        Your browser does not support the audio element.-->
<!--      </audio>-->

<!--      <button class="btn btn-light" (click)="play()" [disabled]="isPlaying"><h5 class="mb-0">Play</h5></button>-->
<!--      <button class="btn btn-light" (click)="pause()" [disabled]="!isPlaying"><h5 class="mb-0">Pause</h5></button>-->
<!--      <div class="col-8 offset-2">-->
<!--        <input type="range" class="form-range" min="0" max="1" step="0.1" [value]="musicService.volume"-->
<!--               (input)="changeVolume($event)">-->
<!--      </div>-->
        <app-player-component></app-player-component>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>

  <footer class="footer container-fluid text-center fixed-bottom">
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Twitter -->
      <a class="btn bg-light rounded-circle mx-1 bg-opacity-75" href="#!" role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn bg-light rounded-circle mx-1 bg-opacity-75" href="#!" role="button"
      ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn bg-light rounded-circle mx-1 bg-opacity-75" href="#!" role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn bg-light rounded-circle mx-1 bg-opacity-75" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn bg-light rounded-circle mx-1 bg-opacity-75" href="#!" role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>
    <div class="row text-center bg-light bg-opacity-50">
      <h6 class="text-dark">© 2024 Copyright: <a class="text-dark" href="https://mifag/">Mifag</a></h6>
    </div>
  </footer>
</body>

