<div class="container-fluid my-music">
  <div class="row mt-4">
    <div class="col-4 offset-1">
      <img
        src="./../../assets/img/12.jpg"
        class="img-thumbnail"
        alt="forster"
      />
    <h5>
      The project was founded by the pianist, Aleksandra Novikova, and the sound designer, Mikhail Golubev (Mifag)
    </h5>
    </div>
    <div class="col-2">
      <div class="card">
        <img src="./../../assets/img/cover-week.jpg" class="card-img-top" alt="week">
        <div class="card-body">
          <h4 class="card-title">Week</h4>
          <p class="card-text">Album</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Year: 2023</li>
            <li class="list-group-item">Some info about this album.</li>
<!--            <li class="list-group-item">Vestibulum at eros</li>-->
          </ul>
        <div class="card-body">
          <a href="#" class="card-link text-dark">Card link</a>
          <a href="#" class="card-link text-dark">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        <img src="./../../assets/img/yo-yo.jpg" class="card-img-top" alt="yoyo">
        <div class="card-body">
          <h4 class="card-title">YoYo</h4>
          <p class="card-text">Single</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Year: 2022</li>
            <li class="list-group-item">Some info about this album.</li>
<!--                    <li class="list-group-item">Vestibulum at eros</li>-->
          </ul>
        <div class="card-body">
          <a href="#" class="card-link text-dark">Card link</a>
          <a href="#" class="card-link text-dark">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        <img src="./../../assets/img/summer.jpg" class="card-img-top" alt="summer">
        <div class="card-body">
          <h4 class="card-title">Summer</h4>
          <p class="card-text">Single</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Year: 2021</li>
            <li class="list-group-item">Some info about this album.</li>
<!--            <li class="list-group-item">Vestibulum at eros</li>-->
          </ul>
        <div class="card-body">
          <a href="#" class="card-link text-dark">Card link</a>
          <a href="#" class="card-link text-dark">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
