@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/EduNSWACTFoundation-VariableFont_wght.ttf');
}

body {
  background-image: url('./assets/img/wall.jpg');
  height: 100%;
  p,h3, h4, h5, h6 {
    font-family: 'MyFont';
  }
}
