.music {
  background-image: url('./../../assets/img/wall.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .music-text {
    margin-top: 100px;
    .last-card {
       margin-bottom: 100px;
    }
  }
}

/* next size - tablet landscape and it covers desktop */
@media (min-width: 1366px) {
  .music {
    height: 100vh;
    .music-text {
      .last-card {
         margin-bottom: 0px;
       }
    }
  }
}
