<div class="container-fluid music">
  <div class="row">
    <div class="container-fluid music-text">
      <div class="row">
        <div class="col-8 offset-2 col-xl-2 offset-xl-1 mt-4">
          <div class="card">
            <img src="./../../assets/img/cover-week.jpg" class="card-img-top" alt="week">
            <div class="card-body">
              <h4 class="card-title">Week</h4>
              <h5 class="card-text">Album</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Year: 2023</li>
              <li class="list-group-item">Each track on this album is a specific day of the week.</li>
            </ul>
            <div class="card-body text-center">
              <a href="https://band.link/78NLF" target="_blank" class="card-link text-dark">First link</a>
              <a href="https://onerpm.link/608791840620" target="_blank" class="card-link text-dark">Second link</a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 col-sm-4 offset-sm-2 mt-4 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="./../../assets/img/yo-yo.jpg" class="card-img-top" alt="yoyo">
            <div class="card-body">
              <h4 class="card-title">YoYo</h4>
              <h5 class="card-text">Single</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Year: 2022</li>
              <li class="list-group-item">
                This track was written in collaboration with Mifag.
              </li>
            </ul>
            <div class="card-body text-center">
              <a href="https://band.link/aSMtX" target="_blank" class="card-link text-dark">First link</a>
              <a href="http://muz.lc/4rteb" target="_blank" class="card-link text-dark">Second link</a>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 col-sm-4 offset-sm-0 col-xl-2 offset-xl-0 mt-4">
          <div class="card">
            <img src="./../../assets/img/summer.jpg" class="card-img-top" alt="summer">
            <div class="card-body">
              <h4 class="card-title">Summer</h4>
              <h5 class="card-text">Single</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Year: 2021</li>
              <li class="list-group-item">
                First recorded track. This track is playing on this site.
              </li>
            </ul>
            <div class="card-body text-center text-center">
              <a href="#" class="card-link text-dark"></a>
              <a href="#" class="card-link text-dark"></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-xl-4 offset-xl-0 mt-4">
          <div class="card last-card">
            <img src="./../../assets/img/12.jpg" class="card-img-top" alt="yoyo">
            <div class="card-body">
              <h5 class="card-title">
                The project was founded by the pianist, Aleksandra Novikova, and the sound designer,
                Mikhail Golubev (Mifag)
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
